@font-face {
  font-family: LeagueSpartan;
  src: url(../fonts/LeagueSpartan-Bold.otf);
}
@font-face {
  font-family: Montserrat-Light;
  src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.otf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: Montserrat-ExtralightItalic;
  src: url(../fonts/Montserrat-ExtraLightItalic.otf);
}
@font-face {
  font-family: Montserrat-Extralight;
  src: url(../fonts/Montserrat-ExtraLight.otf);
}
