#addButton {
  position: absolute;
  right: 2%;
  bottom: 10%;
}

#backButton {
  position: absolute;
  left: 0.5%;
  top: 0.5%;
}

#logoutButton {
  position: absolute;
  right: 2%;
  top: 10%;
}

.text-shadow {
  text-shadow: 1px 1px 6px #000000;
}
.element-shadow {
  box-shadow: 1px 1px 10px #000000;
}

.main-content {
  margin-top: 200px;
  text-align: center;
  margin-left: 6%;
  margin-right: 6%;
}

.search-header {
  background-image: linear-gradient(to right, #ff4141, #db901f);
  height: 180px;
  padding-top: 20px;
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0;
  transition: all 0.3s;
}

.store-details {
  padding-top: 20px;
  padding-left: 40px;
}

.shrink {
  margin-top: -70px;
}

.input-container {
  max-width: 1000px;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.store-name {
  color: white;
  font-family: LeagueSpartan;
  font-size: 35px;
  margin: 0;
  padding: 0;
}
.store-city {
  color: white;
  font-family: Montserrat-Extralight;
  font-size: 25px;
  margin: 0;
  padding: 0;
}
.store-street {
  color: white;
  font-family: Montserrat-ExtralightItalic;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.title {
  color: white;
  font-size: 35px;
  margin: auto;
  font-family: LeagueSpartan;
}

.detail-title {
  color: white;
  font-size: 20px;
  margin: auto;
  font-family: Montserrat-ExtralightItalic;
  text-align: center;
}

.login-form {
  max-width: 870px;
  width: 600px;
  margin: 10px auto;
  padding: 0px 50px 0px;
  font-family: Montserrat-Regular;
}

.login-form input[type="text"],
.login-form select {
  font-family: Montserrat-Regular;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 30px;
  height: 40px;
  font-size: 20px;
  margin: 0;
  outline: 0;
  padding: 10px;
  padding-left: 80px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: rgb(245, 244, 244);
  color: #5d5d5d;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}

.button-img {
  width: 15px;
  height: 15px;
}

.search-img {
  width: 15spx;
  height: 15px;
  position: absolute;
  bottom: 15px;
  left: 30px;
}

.btn-circle.btn-xl {
  width: 45px;
  height: 45px;

  font-size: 20px;
  border: transparent;
  border-radius: 35px;
  background-color: transparent;
}

.d-flex.flex-row.justify-content-between.align-items-center {
  margin-left: 80px;
  margin-right: 80px;
}

/* SHOW Button */
.details-button {
  margin-left: 7px;
  margin-right: 7px;
  padding-bottom: 0;
  font-family: LeagueSpartan;
  width: 50%;
  border-radius: 10px;
  height: 40px;
  background-color: #288bd6;
  font-size: 12px;
  color: white;
  display: inline-block;
  /* margin-bottom: 0; */
  box-shadow: 0 2px #999;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  border-radius: 10px;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
}

.details-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.details-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
}

.details-button:hover span {
  padding-right: 12px;
}

.details-button:hover span:after {
  opacity: 1;
  right: 0;
}

.details-button:active {
  background-color: rgb(59, 161, 240);
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}

/*   Other Buttons */
.delete-button {
  margin-left: 7px;
  margin-right: 7px;
  padding-bottom: 0;
  font-family: LeagueSpartan;
  border-radius: 10px;
  border: #000000;
  height: 40px;
  width: 25%;
  background-color: #c21a1a;
  font-size: 24px;
  color: white;
  display: block;
  /* margin-bottom: 0; */
  box-shadow: 0 2px #999;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
}
.delete-button:active {
  background-color: rgb(219, 36, 36);
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}

.edit-button {
  margin-left: 7px;
  margin-right: 7px;
  padding-bottom: 0;
  font-family: LeagueSpartan;
  border-radius: 10px;
  border: #000000;
  height: 40px;
  width: 25%;
  background-color: #6824ab;
  font-size: 24px;
  color: white;
  display: block;
  /* margin-bottom: 0; */
  box-shadow: 0 2px #999;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
}

.edit-button:active {
  background-color: rgb(127, 49, 206);
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}

/*   Table attributes */

table.table.table-striped .rows td {
  vertical-align: middle;
}
table.table.table-striped .rows th {
  vertical-align: middle;
  font-family: Montserrat-Bold;
}

table.table.table-striped th {
  font-family: Montserrat-Bold;
  font-size: 20px;
  vertical-align: middle;
}
table.table.table-striped {
  table-layout: fixed;
}

.rows {
  font-family: Montserrat-Regular;
  font-size: 20px;
  overflow: auto;
}
/* for stores */
.row-img {
  width: 35px;
  height: 35px;
}

.row-id {
  font-family: Montserrat-Bold;
}

.row-rate {
  color: #39b14d;
  font-family: Montserrat-Bold;
}

/* for products  */

.store-details {
  padding-top: 20px;
  padding-left: 40px;
}

.horizontal-line {
  color: #ffffff;
  background-color: #ffffff;
  height: 1.5px;
  width: 374px;
  align-content: center;
  margin: 0;
  padding: 0;
}

.search-module {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.move-out {
  margin-top: -90px;
}
