<!-- end: content -->

<script src = "/js/resizeHeader.js"></script>

<script>
       
        document.getElementById("detailsButton").onclick = function () {
            location.href = "products.html";
        };

        document.getElementById("editButton").onclick = function () {
            location.href = "store_edit.html";
        };

        document.getElementById("addButton").onclick = function () {
            location.href = "store_add.html";
        }; 
</script>


</body>
</html>