<!-- end: content -->

<script src = "/js/resizeHeader.js"></script>

<script>
        document.getElementById("editButton").onclick = function () {
        location.href = "product_edit.html";};
        
        document.getElementById("addButton").onclick = function () {
        location.href = "product_add.html";};
</script>

</body>
</html>