<% include header_login %>

<header class = "text-shadow">
        <p class="leaguespartan maintitle">mySHOP</p>
        <p class="montserrat-light sidetitle">my life. my decisions.</p>
        
    </header>
   
    <section class ="input-holder" >
       <section class ="input element-shadow">
          <header>
          <h1 class="montserrat-bold logintitle">Login</h1>
        </header>
        <section>
        <hr class="horizontal-line">
        </section>
        <section class ="login-form">
               
                <form id="login" method ="POST">
                       <div class ="input-container">
                                <input type="text" name="userName" placeholder="mjqef1"
                                maxlength="10" id="username" value="mjqef1">
                              
                        </div>
                        <div class ="input-container">
                                <input type="password" name="password" placeholder="mjqef1"
                                id ="password" value = "mjqef1">
                               <img src="../images/ic_password_hided.png" class="img password-reveal" id="img">
                        </div>
                        
                </form>
                <input id="loginButton" type="Submit" class="button element-shadow" form="login" value="Belépés">
                       
                        
            
        </section>
            
       </section>
    </section>

    
    
    <% include footer_login %>
    