<% include header_dataManipulate %>

<header class="search-header element-shadow d-flex flex-row justify-content-between 
        align-items-center">
        <section class="title text-shadow">ADD PRODUCT</section>
    </header>


    <article class="field">
        <section class="input-fields d-flex flex-row justify-content-center  align-items-center">

            <section class="label">
                Name:
            </section>
            <section class="input-form ">
                <form id="search">
                    <div class="input-container">
                        <input type="text" name="searchbar"  maxlength="24" id="search">


                    </div>
                </form>
            </section>

        </section>
    </article>

    <article class="field">
            <section class="input-fields d-flex flex-row justify-content-center  align-items-center">
    
                <section class="label">
                    Type:
                </section>
                <section class="input-form ">
                    <form id="search">
                        <div class="input-container">
                            <input type="text" name="searchbar"  maxlength="24" id="search">
    
    
                        </div>
                    </form>
                </section>
                
            </section>
        </article>

        <article class="field">
                <section class="input-fields d-flex flex-row justify-content-center  align-items-center">
        
                    <section class="label">
                        Subtype:
                    </section>
                    <section class="input-form ">
                        <form id="search">
                            <div class="input-container">
                                <input type="text" name="searchbar"  maxlength="24" id="search">
        
        
                            </div>
                        </form>
                    </section>
                    
                </section>
            </article>

            <article class="field">
                    <section class="input-fields d-flex flex-row justify-content-center  align-items-center">
            
                        <section class="label">
                            Serving:
                        </section>
                        <section class="input-form ">
                            <form id="search">
                                <div class="input-container">
                                    <input type="text" name="searchbar"  maxlength="24" id="search">
            
            
                                </div>
                            </form>
                        </section>
                        <section class="label">
                               g
                            </section>
                        
                    </section>
                </article>

                <article class="field">
                        <section class="input-fields d-flex flex-row justify-content-center  align-items-center">
                
                            <section class="label">
                                Price:
                            </section>
                            <section class="input-form ">
                                <form id="search">
                                    <div class="input-container">
                                        <input type="text" name="searchbar"  maxlength="24" id="search">
                
                
                                    </div>
                                </form>
                            </section>
                            <section class="label">
                                    Ft
                                </section>
                            
                        </section>
                    </article>
                    <article class="d-flex flex-row justify-content-center">
                    <button id="saveButton" 
                    type="button" class="button element-shadow" 
                    form="login" value="Submit"><span>ADD</span></button>
                </article>

<% include footer %>