<%- include header_dataManipulate %>

<header class="search-header element-shadow d-flex flex-row justify-content-between 
        align-items-center">
        <button id="backButton" type="button" class="btn btn-light"  onclick="location.href = '/products/<%= product._store %>';">	<i class="glyphicon glyphicon-chevron-left"></i></button>
        <section class="title text-shadow">ADD PRODUCT</section>
        <button id="logoutButton" type="button" class="btn btn-light"  onclick="location.href = '/logout';">Log Out</button>
    </header>

    <form id="search" method="POST">
    <article class="field">
        <section class="input-fields d-flex flex-row justify-content-center  align-items-center">

            <section class="label">
                Name:
            </section>
            <section class="input-form ">
               
                    <div class="input-container">
                        <input
                        type="text" name="productName"  maxlength="24" id="search">


                    </div>
                
            </section>

        </section>
    </article>

    <article class="field">
            <section class="input-fields d-flex flex-row justify-content-center  align-items-center">
    
                <section class="label">
                    Type:
                </section>
                <section class="input-form ">
                  
                        <div class="input-container">
                            <input type="text" name="productType"  maxlength="24" id="search">
    
    
                        </div>
                    
                </section>
                
            </section>
        </article>

        <article class="field">
                <section class="input-fields d-flex flex-row justify-content-center  align-items-center">
        
                    <section class="label">
                        Subtype:
                    </section>
                    <section class="input-form ">
                       
                            <div class="input-container">
                                <input type="text" name="productSubType"  maxlength="24" id="search">
        
        
                            </div>
                        
                    </section>
                    
                </section>
            </article>

            <article class="field">
                    <section class="input-fields d-flex flex-row justify-content-center  align-items-center">
            
                        <section class="label">
                            Serving:
                        </section>
                        <section class="input-form ">
                           
                                <div class="input-container">
                                    <input type="text" name="productServing"  maxlength="24" id="search">
            
            
                                </div>
                           
                        </section>
                        <section class="label">
                               g
                            </section>
                        
                    </section>
                </article>

                <article class="field">
                        <section class="input-fields d-flex flex-row justify-content-center  align-items-center">
                
                            <section class="label">
                                Price:
                            </section>
                            <section class="input-form ">
                              
                                    <div class="input-container">
                                        <input type="text" name="productPrice"  maxlength="24" id="search">
                
                
                                    </div>
                                
                            </section>
                            <section class="label">
                                    Ft
                                </section>
                            
                        </section>
                    </article>
            </form>
                    <article class="d-flex flex-row justify-content-center">
                    <input id="saveButton" 
                    type="Submit" class="button element-shadow" 
                    form="search" value="Submit">
                </article>

<%- include footer %>