<% include header_products %>

    <header class="search-header element-shadow" id="search-header">

        <section class="d-flex flex-row justify-content-between">

            <section class="store-details" id="store-details">

                <div class="store-name">LIDL</div>
                <hr class="horizontal-line">
                <div class="store-city">Budapest</div>
                <hr class="horizontal-line">
                <div class="store-street">Szupi utca 7.</div>
            </section>
            <section class="search-module d-flex flex-column justify-content-between flex-grow-1">

                <section class="login-form ">
                    <form id="search">
                        <div class="input-container">
                            <input type="text" name="searchbar" placeholder="Search products in store" maxlength="24"
                                id="search">
                            <img src="../images/is_serch.png" class="search-img">

                        </div>
                    </form>
                </section>

                <section class="d-flex flex-row justify-content-between align-items-center">

                    <section>

                    </section>

                    <section class="d-flex flex-column justify-content-around">

                        <section class="title text-shadow">
                            PRODUCTS
                        </section>

                        <section class="detail-title">
                            (1463 products)
                        </section>

                    </section>

                    <section>
                        <button onclick="location.href = '/products/new';" id="addButton" type="button" class="btn btn-info btn-circle btn-xl" value="Submit">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>


                    </section>

                </section>
            </section>
            <section>

            </section>
        </section>


    </header>

    <section class="main-content">
        <table class="table table-striped">
            <thead class="columns">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Subtype</th>
                    <th scope="col">Serving (g)</th>
                    <th scope="col">Price (Ft)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="rows">
                <tr>
                    <th scope="row">0</th>
                    <td>Kenyér</td>
                    <td>Pékáru</td>
                    <td>Kenyér</td>
                    <td>500</td>
                    <td>399</td>
                    <td>
                        <div class="d-flex flex-row bd-highlight">
                            <button id="editButton" type="button" class="edit-button element-shadow" value="Submit"
                             onclick="location.href = '/products/0/0/edit';">
                                <img src="../images/edit.png" class="button-img">
                            </button>
                            <button id="deleteButton" type="button" class="button-border delete-button element-shadow"
                                value="Submit">
                                <img src="../images/trash.png" class="button-img">
                            </button>
                        </div>
                    </td>
                </tr>
               

            </tbody>
        </table>



    </section>



<% include footer_products %>