<%- include header_stores %>

 <header class="search-header element-shadow" id="search-header">

        <section class="d-flex flex-row justify-content-between">
            <section>

            </section>
            <section class="search-module d-flex flex-column justify-content-between flex-grow-1">

                <section class="login-form ">
                    <form id="search">
                        <div class="input-container">
                            <input type="text" name="searchbar" placeholder="Search stores" maxlength="24" id="search">
                            <img src="../images/is_serch.png" class="search-img">

                        </div>
                    </form>
                </section>

                <section class="d-flex flex-row justify-content-between 
                    align-items-center">

                    <section>

                    </section>

                    <section class="d-flex flex-column justify-content-around">

                        <section class="title text-shadow">
                            STORES
                        </section>

                        <section class="detail-title">
                            (15 stores)
                        </section>

                    </section>

                    <section>



                    </section>

                </section>
            </section>
            <section>

            </section>
        </section>

        <button  onclick="location.href = '/stores/new';" id="addButton" type="button" class="btn btn-info btn-circle btn-xl" value="Submit">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
    </header>

    <section class="main-content">
        <table class="table table-striped">
            <thead class="columns">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Street</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Type</th>
                    <th scope="col">Product Count</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="rows">
             <% stores.forEach(function(item){ %>
                <tr>
                    <th scope="row">0</th>
                    <td>Lidl</td>
                    <td>Budapest</td>
                    <td>Szupi utca 7.</td>
                    <td class="row-rate">4.7</td>
                    <td>
                        <img src="../images/ic_groceries.png" class="row-img">
                    </td>
                    <td>7 db</td>
                    <td>
                        <div class="d-flex flex-row bd-highlight">
                            <button onclick="location.href = '/products/0';" id="detailsButton" type="button" class="details-button element-shadow " value="Submit">
                                <span>
                                    SHOW
                                </span>
                            </button>

                            <button onclick="location.href = '/stores/0/edit';" id="editButton" type="button" class="edit-button element-shadow" value="Submit">
                                <img src="../images/edit.png" class="button-img"
                               >
                            </button>
                            <button id="deleteButton" type="button" class="button-border delete-button element-shadow"value="Submit">
                                <img src="../images/trash.png" class="button-img">
                            </button>
                        </div>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>



    </section>


    

<% include footer_stores %>